# --- IDE / system ---
.idea/
.vscode/
*.code-workspace
.DS_Store
Thumbs.db

# --- Python / venv / cache ---
__pycache__/
*.pyc
.myenv/
myenv/
.env
.venv/

# --- Notebooks ---
.ipynb_checkpoints/


#keep specific files
!paper_trading/data/mapping/tic_gvkey_mapping_2025.csv
!paper_trading/data/raw_signals/drl_weight.csv
!paper_trading/data/raw_signals/equally_weighted.csv
!paper_trading/data/raw_signals/mean_weighted.csv
!paper_trading/data/raw_signals/minimum_weighted.csv
!output/QQQ.csv
!output/SPX.csv
!output/equally_weighted.xlsx
!output/mean_weighted.xlsx
!output/minimum_weighted.xlsx
!output/drl_weight.xlsx

# --- Ignore all csv xlsx pickle files ---
*.csv
*.xlsx
.pickle

# --- Office temporary lock files ---
~$*
*.tmp
*.lock

# ignore specific directories
bt1/
bt2/
paper_trading/logs
test_back/
test_back_drl/
test_back_Q/
FinRL/
results/
lxyoutput/

#keep specific files
!paper_trading/data/mapping/tic_gvkey_mapping_2025.csv
!paper_trading/data/raw_signals/drl_weight.csv
!paper_trading/data/raw_signals/equal_weight.csv
!paper_trading/data/raw_signals/min_var_weight.csv
!paper_trading/data/raw_signals/mean_weight.csv
!paper_trading/data/raw_signals/min_var_weight.csv  


# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
